# =============================================================================
# Environment: staging — Example tfvars
# Copy to terraform.tfvars and fill in actual values
# =============================================================================

aws_region  = "eu-central-1"
vpc_cidr    = "10.1.0.0/16"

# Subnets
public_subnet_cidrs   = ["10.1.1.0/24","10.1.2.0/24"]
private_subnet_cidrs  = ["10.1.10.0/24","10.1.11.0/24"]
database_subnet_cidrs = ["10.1.20.0/24","10.1.21.0/24"]

# EKS
cluster_version     = "1.30"
node_desired_size   = 3
node_max_size       = 5
node_min_size       = 2
node_instance_types = ["t3.large"]

# Alerts
alert_email_addresses = ["ops@journeyoflife.org"]
